
/* Dropdown menu */
nav ul.sub-menu {
	position: absolute;
	z-index: 101;
	display: none;
	height: auto;
	width: 200px;
	font-size: 12px;
	margin: -10px 0px 0px 0px; /* -10px for the semi-slide-down effect */
	opacity: 0;
	padding: 0;
	float: none;
	background: white;
	border-top: 4px solid #4a4a4a;
	
	-webkit-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.2);
}
nav ul.sub-menu li {
	display: block;
	float: none;
	margin: 0;
	border: none;
}
.dark nav ul.sub-menu li a,
.dark nav ul.sub-menu li a:visited,
.dark nav ul.sub-menu li a:focus,
nav ul.sub-menu li a {
	color: #111;
	display: block;
	margin: 0;
	padding: 15px 20px;
	border: none;
	height: auto;
}
nav ul.sub-menu li.submenu-open > a,
nav ul.sub-menu li a:hover {
	color: #000;
	background: #eee;
}


/* Arrow for menu items that has a submenu */
nav > ul > li.spark-has-submenu {
	position: relative;
}
nav > ul > li.spark-has-submenu:after {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(153, 153, 153, 0);
	border-top-color: #999999;
	border-width: 4px;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
}


/* Arrow for items in the submenu that has another sub-submenu */
nav ul.sub-menu li.spark-has-submenu > a {
	position: relative;
}
nav ul.sub-menu li.spark-has-submenu > a:after {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(153, 153, 153, 0);
	border-left-color: #999999;
	border-width: 4px;
	top: 50%;
	margin-top: -4px;
	margin-left: -10px;
}
