<div class="side-toc">
    <div class="side-toc-inner">
      <h3>{{ title }}</h3>
      <ul>
        {% for counter in pages %}
          {% assign index = forloop.index %}
          {% for subpage in pages %}
            {% if index == subpage.order %}
              {% if subpage.categories == page.categories %}
                <li>
                  {% if subpage.url == page.url %}
                    <b>{{ subpage.title }}</b>
                  {% else %}
                    <a href="{{ BASE_PATH }}{{ subpage.url }}">{{ subpage.title }}</a>
                  {% endif %}
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
<a href="https://jira.kiji.org/secure/CreateIssueDetails!init.jspa?pid=10004&issuetype=1&priority=3&components=10010&summary=Reported%20Docs%20Error:%20{{ page.title }}&description=Please%20describe%20the%20issue.%0a%0aurl:%20{{ page.url }}" class="boxlink">[Report an Error in Docs]</a>
    </div>
</div>
