<div class="side-toc">
    <div class="side-toc-inner">
      <h3>{{ title }}</h3>
      <ul>
        {% assign num_pages = pages | size %}
        {% for i in (1..num_pages) %}
          {% for subpage in pages %}
            {% if i == subpage.order %}
              <li>
                {% if subpage.url == page.url %}
                  <b>{{ subpage.title }}</b>
                {% else %}
                  <a href="{{ BASE_PATH }}{{ subpage.url }}">{{ subpage.title }}</a>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
</div>
