<div class="row-fluid">
  <div class="span8">
    <div class="page-header">
      <h1>{{ page.title }}</h1>
    </div>

    {{ content }}

    <div class="pagination">
      <ul>
      {% if page.tags contains 'schema-ug' %}
        {% assign pages = site.tags.schema-ug %}
      {% elsif page.tags contains 'article' %}
        {% assign pages = site.tags.article %}
      {% endif %}
      {% capture maxpages %}{{ pages | size }}{% endcapture %}

      {% if page.order == 1 %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% else %}
        {% capture prevOrder %}{{ page.order | minus:1 }}{% endcapture %}
        {% for subpage in pages %}
          {% if subpage.categories == page.categories %}
            {% capture curOrder %}{{ subpage.order }}{% endcapture %}
            {% if curOrder == prevOrder %}
              <li class="prev">
                <a href="{{ BASE_PATH }}{{ subpage.url }}" title="{{ subpage.title }}">
                &larr; Previous
                </a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% capture pageOrder %}{{ page.order }}{% endcapture %}
      {% if pageOrder == maxpages %}
        <li class="next disabled"><a>Next &rarr;</a></li>
      {% else %}
        {% capture nextOrder %}{{ page.order | plus:1 }}{% endcapture %}
        {% for subpage in pages %}
          {% if subpage.categories == page.categories %}
            {% capture curOrder %}{{ subpage.order }}{% endcapture %}
            {% if curOrder == nextOrder %}
              <li class="next">
                <a href="{{ BASE_PATH }}{{ subpage.url }}" title="{{ subpage.title }}">
                Next &rarr;
                </a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
      </ul>
    </div>
  </div>

  <div class="span4">
    {% if page.tags contains 'schema-ug' %}
      {% assign title = 'User Guide' %}
      {% assign pages = site.tags.schema-ug %}
    {% elsif page.tags contains 'article' %}
      {% assign title = 'Phonebook Tutorial'  %}
      {% assign pages = site.tags.article %}
    {% endif %}
    {% include side-toc.html %}
  </div>
</div>
